In [13]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

print("✅ 커널 연동 성공 & 패키지 정상 작동!")

✅ 커널 연동 성공 & 패키지 정상 작동!

In [24]:
import pandas as pd                         # CSV 읽기용
from sqlalchemy import create_engine        # DB 연결용
from dotenv import load_dotenv              # .env 파일에서 환경변수 불러오기
import os                                   # 환경변수 로드에 사용

# .env 로드
load_dotenv()

# DB 연결 엔진 생성
engine = create_engine(os.getenv("DB_URL"))

print("✅ DB 연결 성공!")

# CSV 파일 불러오기 (파일 경로는 프로젝트 구조에 따라 조정!)
df = pd.read_csv("../data/seoul_dong_codes.csv")

# 데이터 확인

print(df.info())
print(df.info)
df.head()

✅ DB 연결 성공!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        467 non-null    int64
 1   full_name   467 non-null    object
 2   gu_name     467 non-null    object
 3   dong_name   467 non-null    object
 4   short_code  467 non-null    int64
dtypes: int64(2), object(3)
memory usage: 18.4+ KB
None
<bound method DataFrame.info of            code      full_name gu_name dong_name  short_code
0    1111010100  서울특별시 종로구 청운동     종로구       청운동    11110101
1    1111010200  서울특별시 종로구 신교동     종로구       신교동    11110102
2    1111010300  서울특별시 종로구 궁정동     종로구       궁정동    11110103
3    1111010400  서울특별시 종로구 효자동     종로구       효자동    11110104
4    1111010500  서울특별시 종로구 창성동     종로구       창성동    11110105
..          ...            ...     ...       ...         ...
462  1174010600  서울특별시 강동구 둔촌동     강동구       둔촌동    11740106
463  1174010700  서울특별시 강동구 암사동     강동구       암사동    11740107
464  1174010800  서울특별시 강동구 성내동     강동구       성내동    11740108
465  1174010900  서울특별시 강동구 천호동     강동구       천호동    11740109
466  1174011000  서울특별시 강동구 강일동     강동구       강일동    11740110

[467 rows x 5 columns]>

         code      full_name gu_name dong_name  short_code
0  1111010100  서울특별시 종로구 청운동     종로구       청운동    11110101
1  1111010200  서울특별시 종로구 신교동     종로구       신교동    11110102
2  1111010300  서울특별시 종로구 궁정동     종로구       궁정동    11110103
3  1111010400  서울특별시 종로구 효자동     종로구       효자동    11110104
4  1111010500  서울특별시 종로구 창성동     종로구       창성동    11110105

In [25]:
for col in df.columns:
    max_len = df[col].astype(str).map(len).max()
    print(f"🔹 {col} 최대 길이: {max_len}")

🔹 code 최대 길이: 10
🔹 full_name 최대 길이: 17
🔹 gu_name 최대 길이: 4
🔹 dong_name 최대 길이: 6
🔹 short_code 최대 길이: 8

In [26]:
df.to_sql(
    name='Seoul_dong_codes',  
    con=engine,                # SQLAlchemy 엔진
    index=False,               # DataFrame 인덱스는 제외
    if_exists='append'         # 이미 존재하는 테이블에 추가
)
print("✅ 데이터 삽입 완료!")

✅ 데이터 삽입 완료!