In [14]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

print("✅ 커널 연동 성공 & 패키지 정상 작동!")

✅ 커널 연동 성공 & 패키지 정상 작동!

In [15]:
import pandas as pd                         # CSV 읽기용
from sqlalchemy import create_engine        # DB 연결용
from dotenv import load_dotenv              # .env 파일에서 환경변수 불러오기
import os                                   # 환경변수 로드에 사용

# .env 로드
load_dotenv()

# DB 연결 엔진 생성
engine = create_engine(os.getenv("DB_URL"))

print("✅ DB 연결 성공!")

# Seoul_rooms 테이블 조회
try:
    query = "SELECT * FROM Seoul_rooms"
    df = pd.read_sql(query, engine)
    
    # 데이터프레임 출력
    print("📊 Seoul_rooms 데이터프레임:")
    display(df.head())
except Exception as e:
    print(f"🚨 데이터 조회 실패: {e}")
finally:
    engine.dispose()  # 엔진 리소스 정리

✅ DB 연결 성공!
📊 Seoul_rooms 데이터프레임:

Empty DataFrame
Columns: [id, dong_code, gu_name, dong_name, seq, room_type, room_title, room_desc, price_type, price_info, img_url_list, lat, lng, floor, area_m2, maintenance_fee, created_at]
Index: []

In [16]:
# Seoul_dong_codes 테이블의 컬럼명 조회
try:
    query = """
    SELECT COLUMN_NAME 
    FROM INFORMATION_SCHEMA.COLUMNS 
    WHERE TABLE_NAME = 'Seoul_rooms' 
    AND TABLE_SCHEMA = DATABASE()
    """
    df_columns = pd.read_sql(query, engine)
    
    # 컬럼명 리스트 출력
    print("📋 Seoul_rooms 테이블의 컬럼명:")
    for col in df_columns['COLUMN_NAME']:
        print(col)
except Exception as e:
    print(f"🚨 컬럼 조회 실패: {e}")
finally:
    engine.dispose()  # 엔진 리소스 정리

📋 Seoul_rooms 테이블의 컬럼명:
id
dong_code
gu_name
dong_name
seq
room_type
room_title
room_desc
price_type
price_info
img_url_list
lat
lng
floor
area_m2
maintenance_fee
created_at

In [13]:
# Seoul_rooms 테이블에서 특정 컬럼 조회
try:
    query = """
    SELECT id, room_type, room_title, price_type, price_info, 
           img_url_list, lat, lng, area_m2 
    FROM Seoul_rooms
    """
    df = pd.read_sql(
        sql=query,
        con=engine
    )
    
    # 데이터프레임 출력
    print("📊 Seoul_rooms 데이터프레임 (선택된 컬럼):")
    display(df)  # Jupyter Notebook에서 테이블 형식 출력
except Exception as e:
    print(f"🚨 데이터 조회 실패: {e}")
finally:
    engine.dispose()  # 엔진 리소스 정리

📊 Seoul_rooms 데이터프레임 (선택된 컬럼):

Empty DataFrame
Columns: [id, room_type, room_title, price_type, price_info, img_url_list, lat, lng, area_m2]
Index: []