In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

print("âœ… ì»¤ë„ ì—°ë™ ì„±ê³µ & íŒ¨í‚¤ì§€ ì •ìƒ ì‘ë™!")

âœ… ì»¤ë„ ì—°ë™ ì„±ê³µ & íŒ¨í‚¤ì§€ ì •ìƒ ì‘ë™!

In [3]:
import pandas as pd                         # CSV ì½ê¸°ìš©
from sqlalchemy import create_engine        # DB ì—°ê²°ìš©
from dotenv import load_dotenv              # .env íŒŒì¼ì—ì„œ í™˜ê²½ë³€ìˆ˜ ë¶ˆëŸ¬ì˜¤ê¸°
import os                                   # í™˜ê²½ë³€ìˆ˜ ë¡œë“œì— ì‚¬ìš©

# .env ë¡œë“œ
load_dotenv()

# DB ì—°ê²° ì—”ì§„ ìƒì„±
engine = create_engine(os.getenv("DB_URL"))

print("âœ… DB ì—°ê²° ì„±ê³µ!")

# Seoul_rooms í…Œì´ë¸” ì¡°íšŒ
try:
    query = "SELECT * FROM Seoul_rooms"
    df = pd.read_sql(query, engine)
    
    # ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
    print("ğŸ“Š Seoul_rooms ë°ì´í„°í”„ë ˆì„:")
    display(df.head())
except Exception as e:
    print(f"ğŸš¨ ë°ì´í„° ì¡°íšŒ ì‹¤íŒ¨: {e}")
finally:
    engine.dispose()  # ì—”ì§„ ë¦¬ì†ŒìŠ¤ ì •ë¦¬

âœ… DB ì—°ê²° ì„±ê³µ!
ğŸ“Š Seoul_rooms ë°ì´í„°í”„ë ˆì„:

,id,dong_code,gu_name,dong_name,seq,room_type,room_title,room_desc,price_type,price_info,img_url_list,lat,lng,floor,area_m2,maintenance_fee,deposit,monthly,created_at
0,67e3d63e11931f015c27b313,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,49711946,ì›ë£¸,ë²„íŒ€ëª© HUG 0 // ë»¥view // ë‚¨í–¥ // ë² ë€ë‹¤+í’€ì˜µì…˜,"ì¤‘ì¸µ, 27mÂ², ê´€ë¦¬ë¹„ 10ë§Œ",ì „ì„¸,2ì–µ,"[""https://d1774jszgerdmk.cloudfront.net/512/Tm...",37.4977,127.042,ì¤‘ì¸µ,27.00,100000.0,200000000.0,0.0,2025-05-10 15:04:40
1,6800a2108b8f6635424d0e8a,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,50132373,ì˜¤í”¼ìŠ¤í…” â€¢ ë‹¨ê¸°,ã…¡ í•˜ì´ì—”ë“œ ì˜¤í˜ìŠ¤í…” ã…¡ ì´ˆëŸ­ì…”ë¦¬ ì›ë£¸ì›ê±°ì‹¤,"16ì¸µ, 37.92mÂ², ê´€ë¦¬ë¹„ 15ë§Œ",ì›”ì„¸,240/240,"[""https://d1774jszgerdmk.cloudfront.net/512/4E...",37.5026,127.040,16ì¸µ,37.92,150000.0,2400000.0,2400000.0,2025-05-08 19:35:09
2,680378b30a339574d56ad3ff,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,50181829,ì˜¤í”¼ìŠ¤í…”,ê°•ë‚¨ì—­ ê·¼ì²˜ ê¹”ë”í•œ ì˜¤í”¼ìŠ¤í…”,"4ì¸µ, 19.8mÂ², ê´€ë¦¬ë¹„ 6ë§Œ",ì›”ì„¸,1000/70,"[""https://d1774jszgerdmk.cloudfront.net/512/Dy...",37.4986,127.032,4ì¸µ,19.80,600000.0,10000000.0,700000.0,2025-05-10 14:57:58
3,6803b93a0a339574d56aee5e,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,50186016,ì˜¤í”¼ìŠ¤í…”,ê°•ë‚¨ì—­ ì¸ê·¼ ê¹”ë”í•œ í’€ì˜µì…˜ ì˜¤í”¼ìŠ¤í…”,"4ì¸µ, 19.8mÂ², ê´€ë¦¬ë¹„ 6ë§Œ",ì›”ì„¸,1000/70,"[""https://d1774jszgerdmk.cloudfront.net/512/x3...",37.4986,127.032,4ì¸µ,19.80,600000.0,10000000.0,700000.0,2025-05-10 14:57:58
4,6805a75c45d17346e3722f15,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,50186003,íˆ¬ë£¸,ë¦¬ëª¨ë¸ë§ ë˜ì–´ì§„ ê±´ë¬¼,"2ì¸µ, 59.5mÂ², ê´€ë¦¬ë¹„ ì—†ìŒ",ì›”ì„¸,500/240,"[""https://d1774jszgerdmk.cloudfront.net/512/gO...",37.5067,127.042,2ì¸µ,59.50,0.0,5000000.0,2400000.0,2025-05-08 19:35:09

In [4]:
# Seoul_dong_codes í…Œì´ë¸”ì˜ ì»¬ëŸ¼ëª… ì¡°íšŒ
try:
    query = """
    SELECT COLUMN_NAME 
    FROM INFORMATION_SCHEMA.COLUMNS 
    WHERE TABLE_NAME = 'Seoul_rooms' 
    AND TABLE_SCHEMA = DATABASE()
    """
    df_columns = pd.read_sql(query, engine)
    
    # ì»¬ëŸ¼ëª… ë¦¬ìŠ¤íŠ¸ ì¶œë ¥
    print("ğŸ“‹ Seoul_rooms í…Œì´ë¸”ì˜ ì»¬ëŸ¼ëª…:")
    for col in df_columns['COLUMN_NAME']:
        print(col)
except Exception as e:
    
    print(f"ğŸš¨ ì»¬ëŸ¼ ì¡°íšŒ ì‹¤íŒ¨: {e}")
finally:
    engine.dispose()  # ì—”ì§„ ë¦¬ì†ŒìŠ¤ ì •ë¦¬

ğŸ“‹ Seoul_rooms í…Œì´ë¸”ì˜ ì»¬ëŸ¼ëª…:
id
dong_code
gu_name
dong_name
seq
room_type
room_title
room_desc
price_type
price_info
img_url_list
lat
lng
floor
area_m2
maintenance_fee
created_at

In [5]:
# Seoul_rooms í…Œì´ë¸”ì—ì„œ íŠ¹ì • ì»¬ëŸ¼ ì¡°íšŒ
try:
    query = """
    SELECT *
    FROM Seoul_rooms
    """
    df = pd.read_sql(
        sql=query,
        con=engine
    )
    
    # ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
    print("ğŸ“Š Seoul_rooms ë°ì´í„°í”„ë ˆì„ (ì„ íƒëœ ì»¬ëŸ¼):")
    display(df.head())  # Jupyter Notebookì—ì„œ í…Œì´ë¸” í˜•ì‹ ì¶œë ¥
except Exception as e:
    print(f"ğŸš¨ ë°ì´í„° ì¡°íšŒ ì‹¤íŒ¨: {e}")
finally:
    engine.dispose()  # ì—”ì§„ ë¦¬ì†ŒìŠ¤ ì •ë¦¬

ğŸ“Š Seoul_rooms ë°ì´í„°í”„ë ˆì„ (ì„ íƒëœ ì»¬ëŸ¼):

,id,dong_code,gu_name,dong_name,seq,room_type,room_title,room_desc,price_type,price_info,img_url_list,lat,lng,floor,area_m2,maintenance_fee,created_at
0,1,1111010200,ì¢…ë¡œêµ¬,ì‹ êµë™,50365242,ì›ë£¸,ê²½ë³µê¶ì—­ ë„ë³´ 8ë¶„ ê±°ë¦¬,"ë°˜ì§€ì¸µ, 19.02mÂ², ê´€ë¦¬ë¹„ 2ë§Œ",ì›”ì„¸,500/45,"[""https://d1774jszgerdmk.cloudfront.net/512/6d...",37.5831,126.969,ë°˜ì§€ì¸µ,19.02,20000,2025-05-08 14:52:17
1,2,1111010200,ì¢…ë¡œêµ¬,ì‹ êµë™,50098549,íˆ¬ë£¸,ê²½ë³µê¶ì—­ ë„ë³´ 10ë¶„,"ë°˜ì§€ì¸µ, 33.98mÂ², ê´€ë¦¬ë¹„ 1ë§Œ",ì›”ì„¸,7000/10,"[""https://d1774jszgerdmk.cloudfront.net/512/3c...",37.5833,126.969,ë°˜ì§€ì¸µ,33.98,10000,2025-05-08 14:52:17
2,3,1111010900,ì¢…ë¡œêµ¬,ëˆ„ìƒë™,50383686,ì›ë£¸,"ê²½ë³µê¶ì—­ ê±¸ì–´ì„œ 7ë¶„, ë§ˆì„ë²„ìŠ¤ ì •ë¥˜ì¥ ì• ëˆ„ìƒë™ ì›ë£¸","1ì¸µ, 26.2mÂ², ê´€ë¦¬ë¹„ ì—†ìŒ",ì›”ì„¸,1000/60,"[""https://d1774jszgerdmk.cloudfront.net/512/C0...",37.5806,126.967,1ì¸µ,26.20,0,2025-05-08 14:52:17
3,4,1111011300,ì¢…ë¡œêµ¬,í•„ìš´ë™,50318430,ì›ë£¸,ê²½ë³µê¶ì—­ 3ë¶„ í’€ì˜µì…˜ í†µì¸ì‹œì¥ ì¸ê·¼,"2ì¸µ, 18mÂ², ê´€ë¦¬ë¹„ 5ë§Œ",ì›”ì„¸,1000/55,"[""https://d1774jszgerdmk.cloudfront.net/512/de...",37.5767,126.970,2ì¸µ,18.00,50000,2025-05-08 14:52:17
4,5,1111011300,ì¢…ë¡œêµ¬,í•„ìš´ë™,49412212,íˆ¬ë£¸,"ê²½ë³µê¶ì—­ 5ë¶„, ê´‘í™”ë¬¸ì—­ ë„ë³´ 10ë¶„, ë°©2 ê±°ì‹¤1 ì±„ê´‘ì¢‹ê³ ì „ë§ì¢‹ìŒ","3ì¸µ, 66mÂ², ê´€ë¦¬ë¹„ 5ë§Œ",ì›”ì„¸,1ì–µ5000/50,"[""https://d1774jszgerdmk.cloudfront.net/512/pD...",37.5767,126.970,3ì¸µ,66.00,50000,2025-05-08 14:52:17

In [6]:
df[df['area_m2'].isna()]

,id,dong_code,gu_name,dong_name,seq,room_type,room_title,room_desc,price_type,price_info,img_url_list,lat,lng,floor,area_m2,maintenance_fee,created_at
1348,1349,1121510300,ê´‘ì§„êµ¬,êµ¬ì˜ë™,50203770,ì›ë£¸,ê·¼ë¦° í’€ì˜µì…˜ ë„“ì€ 1ë£¸ ì£¼ì°¨ê°€ëŠ¥,"1ì¸µ, 9,788.47mÂ², ê´€ë¦¬ë¹„ ì—†ìŒ",ì›”ì„¸,1000/60,"[""https://d1774jszgerdmk.cloudfront.net/512/Qg...",37.5431,127.091,None,NaN,0,2025-05-08 14:52:17

In [31]:
df['area_m2'].isna().sum()

np.int64(1)

In [24]:
df['area_m2'] = df['area_m2'].fillna("")

In [25]:
df['area_m2'].isna().sum()

np.int64(0)

In [15]:
dabang_seoul_rooms = pd.read_csv("../crawling/dabang_seoul_rooms.csv", encoding="utf-8-sig") 
dabang_seoul_rooms.head()

,dong_code,gu_name,dong_name,id,seq,roomTypeName,roomTitle,roomDesc,priceTypeName,priceTitle,randomLocation,imgUrlList,lat,lng,floor,area_m2,maintenance_fee,deposit,monthly
0,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,6800a2108b8f6635424d0e8a,50132373,ì˜¤í”¼ìŠ¤í…” â€¢ ë‹¨ê¸°,ã…¡ í•˜ì´ì—”ë“œ ì˜¤í˜ìŠ¤í…” ã…¡ ì´ˆëŸ­ì…”ë¦¬ ì›ë£¸ì›ê±°ì‹¤,"16ì¸µ, 37.92mÂ², ê´€ë¦¬ë¹„ 15ë§Œ",ì›”ì„¸,240/240,"{'lat': 37.502628, 'lng': 127.039524}",['https://d1774jszgerdmk.cloudfront.net/512/4E...,37.502628,127.039524,16ì¸µ,37.92,150000,2400000,2400000
1,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,680c5ef646c511707ad6d199,50297215,ì•„íŒŒíŠ¸,ì—­ì‚¼ì—­ ì—­ì„¸ê¶Œ. íŠ¸ì¸ ì‹œì•¼ì™€ ì±„ê´‘ ì¢‹ì€ ë§¤ë¬¼. EV ë° ì£¼ì°¨ ê°€ëŠ¥,"2ì¸µ, 27.18mÂ², ê´€ë¦¬ë¹„ ì—†ìŒ",ì „ì„¸,2ì–µ,"{'lat': 37.497964, 'lng': 127.039165}",['https://d1774jszgerdmk.cloudfront.net/512/tV...,37.497964,127.039165,2ì¸µ,27.18,0,200000000,0
2,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,6805a75c45d17346e3722f15,50186003,íˆ¬ë£¸,ë¦¬ëª¨ë¸ë§ ë˜ì–´ì§„ ê±´ë¬¼,"2ì¸µ, 59.5mÂ², ê´€ë¦¬ë¹„ ì—†ìŒ",ì›”ì„¸,500/240,"{'lat': 37.506703207062664, 'lng': 127.0421592...",['https://d1774jszgerdmk.cloudfront.net/512/gO...,37.506703,127.042159,2ì¸µ,59.50,0,5000000,2400000
3,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,6805d6ba16ff512b3f924097,50196493,ì›ë£¸,ê°•ë‚¨ì—­ ì´ˆì—­ì„¸ê¶Œ ê¹”ë”í•œ í’€ì˜µì…˜ ì›ë£¸,"5ì¸µ, 19.83mÂ², ê´€ë¦¬ë¹„ 7ë§Œ",ì›”ì„¸,1000/63,"{'lat': 37.4963511342334, 'lng': 127.030712802...",['https://d1774jszgerdmk.cloudfront.net/512/vc...,37.496351,127.030713,5ì¸µ,19.83,70000,10000000,630000
4,1168010100,ê°•ë‚¨êµ¬,ì‹ ì‚¬ë™,681987206c37712b3e5eaf09,50442092,ì˜¤í”¼ìŠ¤í…”,"ì–¸ì£¼ì—­, ì‹ ë…¼í˜„ì—­ / ì¡°ë§ ì¢‹ì€ í˜¸ì‹¤ / ë‚¨í–¥ì— ë”°ëœ»í•œ ì§‘","11ì¸µ, 14.77mÂ², ê´€ë¦¬ë¹„ 12ë§Œ",ì›”ì„¸,1000/100,"{'lat': 37.506721, 'lng': 127.032831}",['https://d1774jszgerdmk.cloudfront.net/512/R9...,37.506721,127.032831,11ì¸µ,14.77,120000,10000000,1000000

In [4]:
# Seoul_rooms í…Œì´ë¸”ì—ì„œ íŠ¹ì • ì»¬ëŸ¼ ì¡°íšŒ
try:
    query = """
    SELECT *
    FROM seoul_dong_codes
    """
    df = pd.read_sql(
        sql=query,
        con=engine
    )
    
    # ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
    print("ğŸ“Š seoul_dong_codes ë°ì´í„°í”„ë ˆì„ (ì„ íƒëœ ì»¬ëŸ¼):")
    display(df.head())  # Jupyter Notebookì—ì„œ í…Œì´ë¸” í˜•ì‹ ì¶œë ¥
except Exception as e:
    print(f"ğŸš¨ ë°ì´í„° ì¡°íšŒ ì‹¤íŒ¨: {e}")
finally:
    engine.dispose()  # ì—”ì§„ ë¦¬ì†ŒìŠ¤ ì •ë¦¬

ğŸ“Š seoul_dong_codes ë°ì´í„°í”„ë ˆì„ (ì„ íƒëœ ì»¬ëŸ¼):

         code      full_name gu_name dong_name  short_code
0  1111010100  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì²­ìš´ë™     ì¢…ë¡œêµ¬       ì²­ìš´ë™    11110101
1  1111010200  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì‹ êµë™     ì¢…ë¡œêµ¬       ì‹ êµë™    11110102
2  1111010300  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ê¶ì •ë™     ì¢…ë¡œêµ¬       ê¶ì •ë™    11110103
3  1111010400  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ íš¨ìë™     ì¢…ë¡œêµ¬       íš¨ìë™    11110104
4  1111010500  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì°½ì„±ë™     ì¢…ë¡œêµ¬       ì°½ì„±ë™    11110105