In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

print("✅ 커널 연동 성공 & 패키지 정상 작동!")

✅ 커널 연동 성공 & 패키지 정상 작동!

In [3]:
import pandas as pd                         # CSV 읽기용
from sqlalchemy import create_engine        # DB 연결용
from dotenv import load_dotenv              # .env 파일에서 환경변수 불러오기
import os                                   # 환경변수 로드에 사용

# .env 로드
load_dotenv()

# DB 연결 엔진 생성
engine = create_engine(os.getenv("DB_URL"))

print("✅ DB 연결 성공!")

# Seoul_rooms 테이블 조회
try:
    query = "SELECT * FROM Seoul_rooms"
    df = pd.read_sql(query, engine)
    
    # 데이터프레임 출력
    print("📊 Seoul_rooms 데이터프레임:")
    display(df.head())
except Exception as e:
    print(f"🚨 데이터 조회 실패: {e}")
finally:
    engine.dispose()  # 엔진 리소스 정리

✅ DB 연결 성공!
📊 Seoul_rooms 데이터프레임:

,id,dong_code,gu_name,dong_name,seq,room_type,room_title,room_desc,price_type,price_info,img_url_list,lat,lng,floor,area_m2,maintenance_fee,deposit,monthly,created_at
0,67e3d63e11931f015c27b313,1168010100,강남구,신사동,49711946,원룸,버팀목 HUG 0 // 뻥view // 남향 // 베란다+풀옵션,"중층, 27m², 관리비 10만",전세,2억,"[""https://d1774jszgerdmk.cloudfront.net/512/Tm...",37.4977,127.042,중층,27.00,100000.0,200000000.0,0.0,2025-05-10 15:04:40
1,6800a2108b8f6635424d0e8a,1168010100,강남구,신사동,50132373,오피스텔 • 단기,ㅡ 하이엔드 오페스텔 ㅡ 초럭셔리 원룸원거실,"16층, 37.92m², 관리비 15만",월세,240/240,"[""https://d1774jszgerdmk.cloudfront.net/512/4E...",37.5026,127.040,16층,37.92,150000.0,2400000.0,2400000.0,2025-05-08 19:35:09
2,680378b30a339574d56ad3ff,1168010100,강남구,신사동,50181829,오피스텔,강남역 근처 깔끔한 오피스텔,"4층, 19.8m², 관리비 6만",월세,1000/70,"[""https://d1774jszgerdmk.cloudfront.net/512/Dy...",37.4986,127.032,4층,19.80,600000.0,10000000.0,700000.0,2025-05-10 14:57:58
3,6803b93a0a339574d56aee5e,1168010100,강남구,신사동,50186016,오피스텔,강남역 인근 깔끔한 풀옵션 오피스텔,"4층, 19.8m², 관리비 6만",월세,1000/70,"[""https://d1774jszgerdmk.cloudfront.net/512/x3...",37.4986,127.032,4층,19.80,600000.0,10000000.0,700000.0,2025-05-10 14:57:58
4,6805a75c45d17346e3722f15,1168010100,강남구,신사동,50186003,투룸,리모델링 되어진 건물,"2층, 59.5m², 관리비 없음",월세,500/240,"[""https://d1774jszgerdmk.cloudfront.net/512/gO...",37.5067,127.042,2층,59.50,0.0,5000000.0,2400000.0,2025-05-08 19:35:09

In [4]:
# Seoul_dong_codes 테이블의 컬럼명 조회
try:
    query = """
    SELECT COLUMN_NAME 
    FROM INFORMATION_SCHEMA.COLUMNS 
    WHERE TABLE_NAME = 'Seoul_rooms' 
    AND TABLE_SCHEMA = DATABASE()
    """
    df_columns = pd.read_sql(query, engine)
    
    # 컬럼명 리스트 출력
    print("📋 Seoul_rooms 테이블의 컬럼명:")
    for col in df_columns['COLUMN_NAME']:
        print(col)
except Exception as e:
    
    print(f"🚨 컬럼 조회 실패: {e}")
finally:
    engine.dispose()  # 엔진 리소스 정리

📋 Seoul_rooms 테이블의 컬럼명:
id
dong_code
gu_name
dong_name
seq
room_type
room_title
room_desc
price_type
price_info
img_url_list
lat
lng
floor
area_m2
maintenance_fee
created_at

In [5]:
# Seoul_rooms 테이블에서 특정 컬럼 조회
try:
    query = """
    SELECT *
    FROM Seoul_rooms
    """
    df = pd.read_sql(
        sql=query,
        con=engine
    )
    
    # 데이터프레임 출력
    print("📊 Seoul_rooms 데이터프레임 (선택된 컬럼):")
    display(df.head())  # Jupyter Notebook에서 테이블 형식 출력
except Exception as e:
    print(f"🚨 데이터 조회 실패: {e}")
finally:
    engine.dispose()  # 엔진 리소스 정리

📊 Seoul_rooms 데이터프레임 (선택된 컬럼):

,id,dong_code,gu_name,dong_name,seq,room_type,room_title,room_desc,price_type,price_info,img_url_list,lat,lng,floor,area_m2,maintenance_fee,created_at
0,1,1111010200,종로구,신교동,50365242,원룸,경복궁역 도보 8분 거리,"반지층, 19.02m², 관리비 2만",월세,500/45,"[""https://d1774jszgerdmk.cloudfront.net/512/6d...",37.5831,126.969,반지층,19.02,20000,2025-05-08 14:52:17
1,2,1111010200,종로구,신교동,50098549,투룸,경복궁역 도보 10분,"반지층, 33.98m², 관리비 1만",월세,7000/10,"[""https://d1774jszgerdmk.cloudfront.net/512/3c...",37.5833,126.969,반지층,33.98,10000,2025-05-08 14:52:17
2,3,1111010900,종로구,누상동,50383686,원룸,"경복궁역 걸어서 7분, 마을버스 정류장 앞 누상동 원룸","1층, 26.2m², 관리비 없음",월세,1000/60,"[""https://d1774jszgerdmk.cloudfront.net/512/C0...",37.5806,126.967,1층,26.20,0,2025-05-08 14:52:17
3,4,1111011300,종로구,필운동,50318430,원룸,경복궁역 3분 풀옵션 통인시장 인근,"2층, 18m², 관리비 5만",월세,1000/55,"[""https://d1774jszgerdmk.cloudfront.net/512/de...",37.5767,126.970,2층,18.00,50000,2025-05-08 14:52:17
4,5,1111011300,종로구,필운동,49412212,투룸,"경복궁역 5분, 광화문역 도보 10분, 방2 거실1 채광좋고 전망좋음","3층, 66m², 관리비 5만",월세,1억5000/50,"[""https://d1774jszgerdmk.cloudfront.net/512/pD...",37.5767,126.970,3층,66.00,50000,2025-05-08 14:52:17

In [6]:
df[df['area_m2'].isna()]

,id,dong_code,gu_name,dong_name,seq,room_type,room_title,room_desc,price_type,price_info,img_url_list,lat,lng,floor,area_m2,maintenance_fee,created_at
1348,1349,1121510300,광진구,구의동,50203770,원룸,근린 풀옵션 넓은 1룸 주차가능,"1층, 9,788.47m², 관리비 없음",월세,1000/60,"[""https://d1774jszgerdmk.cloudfront.net/512/Qg...",37.5431,127.091,None,NaN,0,2025-05-08 14:52:17

In [31]:
df['area_m2'].isna().sum()

np.int64(1)

In [24]:
df['area_m2'] = df['area_m2'].fillna("")

In [25]:
df['area_m2'].isna().sum()

np.int64(0)

In [15]:
dabang_seoul_rooms = pd.read_csv("../crawling/dabang_seoul_rooms.csv", encoding="utf-8-sig") 
dabang_seoul_rooms.head()

,dong_code,gu_name,dong_name,id,seq,roomTypeName,roomTitle,roomDesc,priceTypeName,priceTitle,randomLocation,imgUrlList,lat,lng,floor,area_m2,maintenance_fee,deposit,monthly
0,1168010100,강남구,신사동,6800a2108b8f6635424d0e8a,50132373,오피스텔 • 단기,ㅡ 하이엔드 오페스텔 ㅡ 초럭셔리 원룸원거실,"16층, 37.92m², 관리비 15만",월세,240/240,"{'lat': 37.502628, 'lng': 127.039524}",['https://d1774jszgerdmk.cloudfront.net/512/4E...,37.502628,127.039524,16층,37.92,150000,2400000,2400000
1,1168010100,강남구,신사동,680c5ef646c511707ad6d199,50297215,아파트,역삼역 역세권. 트인 시야와 채광 좋은 매물. EV 및 주차 가능,"2층, 27.18m², 관리비 없음",전세,2억,"{'lat': 37.497964, 'lng': 127.039165}",['https://d1774jszgerdmk.cloudfront.net/512/tV...,37.497964,127.039165,2층,27.18,0,200000000,0
2,1168010100,강남구,신사동,6805a75c45d17346e3722f15,50186003,투룸,리모델링 되어진 건물,"2층, 59.5m², 관리비 없음",월세,500/240,"{'lat': 37.506703207062664, 'lng': 127.0421592...",['https://d1774jszgerdmk.cloudfront.net/512/gO...,37.506703,127.042159,2층,59.50,0,5000000,2400000
3,1168010100,강남구,신사동,6805d6ba16ff512b3f924097,50196493,원룸,강남역 초역세권 깔끔한 풀옵션 원룸,"5층, 19.83m², 관리비 7만",월세,1000/63,"{'lat': 37.4963511342334, 'lng': 127.030712802...",['https://d1774jszgerdmk.cloudfront.net/512/vc...,37.496351,127.030713,5층,19.83,70000,10000000,630000
4,1168010100,강남구,신사동,681987206c37712b3e5eaf09,50442092,오피스텔,"언주역, 신논현역 / 조망 좋은 호실 / 남향에 따뜻한 집","11층, 14.77m², 관리비 12만",월세,1000/100,"{'lat': 37.506721, 'lng': 127.032831}",['https://d1774jszgerdmk.cloudfront.net/512/R9...,37.506721,127.032831,11층,14.77,120000,10000000,1000000

In [4]:
# Seoul_rooms 테이블에서 특정 컬럼 조회
try:
    query = """
    SELECT *
    FROM seoul_dong_codes
    """
    df = pd.read_sql(
        sql=query,
        con=engine
    )
    
    # 데이터프레임 출력
    print("📊 seoul_dong_codes 데이터프레임 (선택된 컬럼):")
    display(df.head())  # Jupyter Notebook에서 테이블 형식 출력
except Exception as e:
    print(f"🚨 데이터 조회 실패: {e}")
finally:
    engine.dispose()  # 엔진 리소스 정리

📊 seoul_dong_codes 데이터프레임 (선택된 컬럼):

         code      full_name gu_name dong_name  short_code
0  1111010100  서울특별시 종로구 청운동     종로구       청운동    11110101
1  1111010200  서울특별시 종로구 신교동     종로구       신교동    11110102
2  1111010300  서울특별시 종로구 궁정동     종로구       궁정동    11110103
3  1111010400  서울특별시 종로구 효자동     종로구       효자동    11110104
4  1111010500  서울특별시 종로구 창성동     종로구       창성동    11110105